#checkbox-all {
    margin-top: 6.9px;
}

.checkbox-select-all-options {
    width: 150px;
    margin: 0 16px
}

input[type="checkbox"] {
    cursor: pointer;
}

.td-id {
    width: 130px;
    display: -webkit-box;
    word-break: break-all;
}
