extends ../layouts/main

block content
    form(name="container-form", method="POST", action="/admin/videos/handle-form-action-trash")
        h1 Trash
        
        a(href="/admin/videos") Videos <i class="fab fa-youtube"></i>

        .mt-4.d-flex.align-items-center
            select.form-control.form-control-sm.checkbox-select-all-options(name='action', required='')
                option(value='') -- Select Action --
                option(value='restore') Restore
                option(value='delete') Delete

            button.btn.btn-primary.btn-sm.check-all-submit-btn(disabled='') Apply
            
        table.mt-4.table
            thead
                tr
                    th
                        .form-check
                            input#checkbox-all.form-check-input(type='checkbox', value='')
                            label.form-check-label(for='checkbox-all', style="cursor: pointer")
                    th(scope='col') ID
                    th(scope='col') Thumbnail
                    th(scope='col') Title
                    th(scope='col') Description
                    th(scope='col', colspan="2") Video ID
            tbody
                if videos.length > 0
                    each video in videos
                        tr
                            td
                                input(type="checkbox", name="videoIds[]", value= video._id)
                            td.td-id= video._id
                            td
                                .thumbnail-img(style="background-image: url('https://img.youtube.com/vi/" + video.videoId + "/sddefault.jpg')")
                            td
                                .card-title(title= video.title, style="width: 130px")= video.title
                            td
                                .card-description(title= video.description, style="width: 253px")= video.description
                            td= video.videoId
                            td
                                .btn.btn-link.btn-restore(data-id= video._id) Restore
                                .btn.btn-link(data-toggle="modal", data-id= video._id, data-target="#delete-video-modal") Delete
                else
                    td(colspan="6").text-center
                        span Empty trash. 
                        a(href="/admin/videos") Return manage videos

    //- confirm delete performance video
    #delete-video-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Delete Performance
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    | This action does not restore. Do you still want to delete this video?
                .modal-footer
                    button.btn.btn-info(type='button', data-dismiss='modal') Cancel
                    button#btn-delete-video.btn.btn-danger(type='button') Delete

    //- hidden form
    form(name="delete-video-form", method="POST")
    form(name="restore-video-form", method="POST")

    script(src="/js/admin-trash-videos.js")
