extends ../layouts/main

block content
    h1 THIS IS ADMIN PAGE

    a(href="/admin/users") Users <i class="fas fa-users-cog"></i>
    hr
    a(href="/admin/videos") Videos <i class="fab fa-youtube"></i>