extends layouts/main

block content
    h1 Home Page
    
    if videos
        .row
            each video in videos
                .col-sm-6.col-lg-3.mt-4
                    .card(style="height: 100%")
                        a.thumbnail-card(href='/view/' + video._id, style="background-image: url('https://img.youtube.com/vi/" + video.videoId + "/sddefault.jpg')")
                        .card-body
                            a(href='/view/' + video._id)
                                h5.card-title(title= video.title)= video.title
                            p.card-description.card-text(title= video.description)= video.description
                            a.btn.btn-primary(href='#') Add to My Videos
    